
.user_info {
    display: flex;
    gap: 12%;
    margin-bottom: 50px;
}

.avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.avatar img {
    width: 150px;
}

.fullName {
    font-size: 18px;
}

.status {
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.description {
    width: 600px;
    display: flex;
}

.description_content {
    width: 600px;
}
