.activePage {
    font-weight: bold;
}


/*loading*/

.loading {
    margin: 0 auto;
    border: 3px solid hsl(220, 46%, 70%);
    border-top-color: #3973b1;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 1s linear infinite;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px ;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}