span {
    width: 100px;
}

.updateProfileItem {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contact {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.contact span {
    display: flex;
    width: 100px;
    justify-content: flex-end;
}


