span {
    width: 100px ;
}

.updateProfileItem {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.contact {
    display: flex;
    width: 200px;
    justify-content: space-between;
}


