
.header{
    grid-area: header;
    background-color: antiquewhite;
    margin-bottom: 5px;
    width: 1200px;


    display: flex;
    justify-content: space-between;
}
  
.logo {
    width: 60px;
    padding: 2px 0 0 7px;
}

.header_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
  