
.header{
    grid-area: header;
    background-color: white;
    margin-bottom: 10px;
    width: 1210px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;

    box-shadow: 0px 0px 5px 1px #c6d4ea;
}
  
.logo {
    width: 60px;
    padding: 2px 0 0 7px;
}

.header_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
  