
.navbar {
    grid-area: navbar;
    margin-right: 5px;
    background-color: antiquewhite;

}

.navbar a {
    text-decoration: none;
}

.navbar_item {
    display: block;
    padding: 10px 5px;
}

.navbar_item:hover {
    background-color: rgb(233, 218, 199);
}
  
  
  
  