.navbar {
    height: 100vh;
    grid-area: navbar;
    background-color: white;
    width: 250px;
    border-radius: 5px;
    margin-right: 10px;

    box-shadow: 0px 0px 5px 1px #c6d4ea;
}

.navbar a {
    text-decoration: none;
}

.navbar a:active {
    color: #6992ee;
}


.item {
    background-color: #f2f6f8;
    display: block;
    padding: 10px 5px;
    border-radius: 5px;
}

.navLink_item {
    display: block;
    padding: 10px 5px;
}

.navLink_item:hover {
    background-color: #ecf1f5;
    border-radius: 5px;
}
  
  
  
  