.App {

  margin: 0 auto;
  width: 1200px;
  display: grid; 

  grid-template-areas: 
  "header header"
  "navbar content";

  grid-template-rows: 70px 1fr;
  grid-template-columns: 3fr 10fr;
}

/* Header */

.header{
  grid-area: header;
  background-color: antiquewhite;
}

.logo {
  width: 60px;
  padding: 5px;
}


/* Navbar */

.navbar {
  grid-area: navbar;
  margin-right: 10px;

}

.navbar a {
  text-decoration: none;
}

.navbar-item {
  padding: 10px 5px;
}


/* Content */

.content {
  grid-area: content;
  margin: 5px 0px 5px 5px;
}

.content-image {
  margin-bottom: 10px;
}


.user-info {
  display: grid;
  grid-template-columns: 3fr 10fr;
}

.avatar {
  width: 150px;
  height: 150px;
}

.avatar img {
  width: 150px;
  
}
