.App {
    margin: 0 auto;
  width: 1210px;
  display: grid; 

  grid-template-areas: 
  "header header"
  "navbar content";

  grid-template-rows: 70px 1fr;
  grid-template-columns: 3.1fr 11.5fr;

  padding: 0 10px;
}

.app_wrapper_content {
  grid-area: content;
  background-color: white;
  border-radius: 5px;
  padding: 10px;

  box-shadow: 0px 0px 5px 1px #c6d4ea;
}


a {
  color: #9381b1;
}

a:visited {
  color: #9381b1;
}