.dialogs {
    display: grid;
    grid-template-columns: 4fr 5fr;
}


/* Dialogs */

.dialogs_items {
    margin: 5px;
}


/* Messages */

.messages {
    margin: 5px;
}

.messages textarea {
    margin: 25px 15px;
    width: 94%;
    outline: none;
}

.messages button {
    border-radius: 10px;
    padding: 5px;
    background-color: #a3bcf3;
    margin: 8px;
    float: right;

}
