.dialogs {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


/* Dialogs */

.dialogs_items {
    width: 45%;
    margin: 5px;
}


/* Messages */

.messages {
    margin: 5px;
}

